<div id="chat">
    <div id="subscribers"></div>
    <div id="publisher"></div>    
</div>
<div id="bottomBar" class="clickAllow">
    <div id="clickAllow">
        Click to allow access to your Camera and Microphone
    </div>
    <div id="joinLink">
        Join link: <a href="<%= link %>"><%= link %></a>
    </div>
    <div id="full">
        Sorry, this room is full. <a href="<%= link %>">Click here to try again</a>.
    </div>
</div>
