<!DOCTYPE html>
<html>
  <head>
    <title>AppRTC-OpenTok</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://static.opentok.com/webrtc/v2.0/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/layoutContainer.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        var apiKey = "<%= apiKey %>",
            sessionId = "<%= sessionId %>",
            token = "<%= token %>";
    </script>
  </head>
  <body>
    <%- body %>
    <script src="/javascripts/main.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/resize.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>